{% extends "base_form.html" %}
{% block title %}K'liche | Registrarse{% endblock %}

{% block content %}
<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="form-container" style="text-align: center;">
                <a href="/"><img class="img-fluid mx-auto d-block m-3" width="300px" height="220px" src="static/images/logo-blanco.png"></a>
                <p class="title text-white">Registrarse</p>
                <form class="m-2 align-content-center">
                    <div class=" input-group flex-nowrap p-2">
                        <span class="input-group-text" id="addon-wrapping"><i class="bi bi-person-circle"></i></span>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" aria-label="Username" aria-describedby="addon-wrapping" required pattern="[A-Za-zñÑáéíóúÁÉÍÓÚ\s]+">
                    </div>
                    
                    <div class=" input-group flex-nowrap p-2">
                        <span class="input-group-text" id="addon-wrapping"><i class="bi bi-person-circle"></i></span>
                        <input type="text" class="form-control" id="apellido" placeholder="Ingrese su apellido" aria-label="Username2" aria-describedby="addon-wrapping" required pattern="[A-Za-zñÑáéíóúÁÉÍÓÚ\s]+">
                    </div>
          
                    <div class=" input-group flex-nowrap p-2">
                        <span class="input-group-text" id="addon-wrapping"><i class="bi bi-envelope-at-fill"></i></span>
                        <input type="email" class="form-control" id="email" placeholder="Ingrese su correo (Ej: ejem123@gmail.com)" aria-label="email" aria-describedby="addon-wrapping" required pattern="[a-zA-Z0-9._%+-]+@gmail\.com">
                    </div>
          
                    <div class=" input-group flex-nowrap p-2">
                        <span class="input-group-text" id="addon-wrapping"><i class="bi bi-phone-fill"></i></span>
                        <input type="tel" class="form-control" id="telefono" placeholder="Ingrese su número telefónico" aria-label="telefono" aria-describedby="addon-wrapping" required pattern="[0-9]{10}">
                    </div>
          
                    <div class=" input-group flex-nowrap p-2">
                        <span class="input-group-text" id="addon-wrapping"><i class="bi bi-key-fill"></i></span>
                        <input type="password" class="form-control" id="nombre" placeholder="Ingrese contraseña (mínimo 8 valores)" aria-label="Username" aria-describedby="addon-wrapping" required minlength="8">                   
                    </div>
    
                    <div class="text-center mt-4">
                        <button id="submitButton"class="button">Registrarse</button>
                    </div>
                    <div class="row text-center text-white mt-2">
                        <span>¿Ya tienes una cuenta?, <a class="text-white" href="login"> Iniciar sesión</a> </span>
                    </div>
                </form>
            </div>    
    </div>
    </body>
{% endblock content %}
