
/* Estilos para la tarjeta (card) */
.card {
  border: 4px solid #B1C9EF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #F0F3FA;
}

/* Estilos para la tabla */
.table {
  background-color: #fff;
}

/* Estilos para los encabezados de días de la semana */
.table thead th {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

/* Estilos para los números de días */
.table tbody td {
  text-align: center;
}


/* Estilos para el texto del título */
.card-title {
  font-size: 24px;
}
