nav {
    background-color: #1f2f47;

}

#cerrar-sesion {
    background-color: #395886;
}

.example-spacer {
    flex: 1 1 auto;
  }


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
  }
  

  .footer2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
  }
  