/*ESTILOS GENERALES*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
  background: linear-gradient(90deg, #191971, #1f8fff);
}

#color-ent{
    color: rgb(162, 206, 213);
}

/*ESTILO DEL LOGIN*/
#contenedor-login {
  width: 450px;
  height: 500px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);

}

/*CSS Login form*/
.form-container {
  width: 550px;
  border-radius: 0.75rem;
  background-color: rgba(12, 47, 121, 0.767);
  padding: 2rem;
}

 .title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}


/*Inputs*/

/*Boton*/
.button {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #1f8fff;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #1f8fff;
}

button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #0d6cb9;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

button:hover::before {
  width: 250%;
}


/*centrar div inputs*/
.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: white;
}

::placeholder {
  color: white;
}
