{% extends 'index.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carrito.css') }}">
{% endblock %}

{% block content %}


    <div class="container-grail">
        <header>
            {% include 'navbar.html' %}
        </header>

        <main>
            <div class="d-flex flex-column h-100">
                <div class="container text-white">
                    <h1 class="text-center my-5">Productos</h1>
                    <div class="col-12">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }} alert-dismissible fade show mb-3" role="alert">
                                        <label>{{ message }}</label>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        <div class="row">
                            {% for producto in productos %}
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card text-center shadow">
                                    <img src="/static/images/{{ producto[4] }}" alt="Imagen del producto"
                                        class="card-img-top img-fluid">
                                    <div class="card-body">
                                        <h4 class="card-title">{{ producto[1] }}</h4>
                                        <p class="card-text">{{ producto[2] }}</p>
                                        <p class="card-text">Disponible: {{ producto[6] }}</p>
                                        <p class="card-text">${{ producto[5] }}</p>
                                        <div class="text-center">
                                            <form
                                                action="{{ url_for('carrito.agregar_producto', producto_id=producto[0], producto_nombre=producto[1], producto_precio=producto[5], producto_cantidad=producto[6]) }}"
                                                method="post">
                                                {{ form.hidden_tag() }}
                                                <div class="input-group mb-3">
                                                    <label for="cantidad{{ producto[0] }}"
                                                        class="input-group-text">Cantidad:</label>
                                                    {{ form.cantidad(class="form-control") }}
                                                </div>
                                                <div class="add-to-cart">
                                                    <button type="submit" class="btn btn-success mt-2"><i class="bi bi-cart-plus me-2"></i>Agregar al carrito</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

    </main>

    <div class="container my-4 text-white">
        <div class="mt-3 text-center ">
            {% if page > 1 %}
                <a href="{{ url_for('carrito.mostrarProductos', page=page-1) }}" class="btn btn-dark">Anterior</a>
            {% else %}
                <span class="btn btn-dark disabled">Anterior</span>
            {% endif %}

            <span class="mx-2">Página {{ page }} de {{ total_pages }}</span>

            {% if page < total_pages %}
                <a href="{{ url_for('carrito.mostrarProductos', page=page+1) }}" class="btn btn-dark">Siguiente</a>
            {% else %}
                <span class="btn btn-dark disabled">Siguiente</span>
            {% endif %}
        </div>
    </div>


<!--- <footer class="footer2">{% include 'footer.html' %}</footer>-->
</div>
<footer class="footer">{% include 'footer.html' %}</footer>





{% endblock content%}