{% extends 'index.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prod.css') }}">
{% endblock %}

{% block content %}

<body>
    <div class="container-grail">
        <header>
            {% include 'navbar.html' %}
        </header>

        <main>

            <body class="d-flex flex-column h-100">

                <!-- Menu de navegación -->
                <header>
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
                        <div class="container">
                            <a class="navbar-brand">K'liche</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navBarTop" aria-controls="navBarTop" aria-expanded="false">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navBarTop">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/carrito">Catalogo</a>
                                    </li>
                                </ul>
                                <a href="{{ url_for('carrito.verCarrito') }}" class="btn btn-primary btn-sm me-2">
                                    <i class="bi bi-cart"></i> Carrito <span id="num_cart"
                                        class="badge bg-secondary">0</span>
                                </a>
                            </div>
                        </div>
                    </nav>
                </header>

                <div class="container text-white">
                    <h1 class="text-white">Productos</h1>
                    <div class="col-12">
                        <!-- <a href="{{ url_for('carrito.vaciar_carrito') }}">Vaciar Carrito</a> -->
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <br>
                            {% for message in messages %}
                                <div class="text-danger small mt-2" role="alert">
                                    <label>{{ message }}</label>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    

                    <div class="row">
                        {% for producto in productos %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100 text-center">
                                <img src="/static/images/{{ producto[4] }}" alt="Imagen del producto"
                                    class="card-img-top img-fluid">
                                <div class="card-body">
                                    <h4 class="card-title">{{ producto[1] }}</h4>
                                    <p class="card-text">{{ producto[2] }}</p>
                                    <p class="card-text">Disponible: {{ producto[6] }}</p>
                                    <p class="card-text">${{ producto[5] }}</p>
                                    <div class="text-center">
                                        <form action="{{ url_for('carrito.agregar_producto', producto_id=producto[0], producto_nombre=producto[1], producto_precio=producto[5], producto_cantidad=producto[6]) }}" method="post">
                                            {{ form.hidden_tag() }}
                                            <div class="input-group mb-3">
                                                <label for="cantidad{{ producto[0] }}" class="input-group-text">Cantidad:</label>
                                                {{ form.cantidad(class="form-control") }}
                                            </div>
                                            <div class="add-to-cart">
                                                <button type="submit" class="btn btn-success mt-2">Agregar al carrito</button>
                                            </div>
                                        </form>
                                     </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </body>
        </main>
        <!--- <footer class="footer2">{% include 'footer.html' %}</footer>-->
    </div>
    <footer class="footer">{% include 'footer.html' %}</footer>

</body>



{% endblock content%}