{% extends "index.html" %}

{% block title %}Carrito{% endblock %}

{% block content %}
    <section class="bg-gradient">

        <header class="header my-1 mx-2">
            {% include 'navbar.html' %}
        </header>

        <div class="container">
            <h3 class="fw-bolder fs-2 p-3 text-white">Productos disponibles</h3>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                <div class="card">
                    <!-- Product image-->
                    <img
                    class="card-img-top"
                    src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Fancy Product</h5>
                        <!-- Product price-->
                        $80.00
                    </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="#"
                        >Añadir al carrito</a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img
                    class="card-img-top"
                    src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Special Item</h5>
                        <!-- Product price-->
                        $18.00
                    </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="#"
                        >Añadir al carrito</a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img
                    class="card-img-top"
                    src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Sale Item</h5>
                        <!-- Product price-->
                        $25.00
                    </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="#">Añadir al carrito</a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img
                    class="card-img-top"
                    src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Popular Item</h5>
                        <!-- Product price-->
                        $40.00
                    </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="#">Añadir al carrito</a>
                    </div>
                    </div>
                </div>
                </div>
        
                <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img
                    class="card-img-top"
                    src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Fancy Product</h5>
                        <!-- Product price-->
                        $80.00
                    </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="#">Añadir al carrito</a>
                    </div>
                    </div>
                </div>
                </div>
        
                <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img
                    class="card-img-top"
                    src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Fancy Product</h5>
                        <!-- Product price-->
                        $80.00
                    </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="#"
                        >Añadir al carrito</a
                        >
                    </div>
                    </div>
                </div>
                </div>
        
                <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img
                    class="card-img-top"
                    src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                    alt="..."
                    />
                    <!-- Product details-->
                    <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Fancy Product</h5>
                        <!-- Product price-->
                        $80.00
                    </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="#"
                        >Añadir al carrito</a
                        >
                    </div>
                    </div>
                </div>
                </div>
        
                <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img
                    class="card-img-top"
                    src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                    alt="..."
                    />
                    <!-- Product details-->
                    <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Fancy Product</h5>
                        <!-- Product price-->
                        $80.00
                    </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="#"
                        >Añadir al carrito</a
                        >
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
    </section>    
{% endblock content%}