{% extends 'index.html' %}

{% block title %}Carrito de compras{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
{% endblock %}


{% block content %}
    <header>
        {% include 'navbar.html' %}
    </header>
    <br><br>

    <main>
    <div class="text-white">
        <div class="container">
            <div class="ms-auto">
                <a href="{{ url_for('carrito.mostrarProductos', preciototal=total) }}" class="btn btn-dark text-white fs-4 shadow"><i class="bi bi-arrow-left-circle me-2"></i>Atras</a>
            </div>

        </div>
        <div class="container mt-5">
            <h1 class="text-center mb-3">Carrito de Compras</h1>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show mb-3 shadow" role="alert">
                            <label>{{ message }}</label>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}


            {% if session['carrito'] %}
                <a href="{{ url_for('carrito.comprarCarrito', preciototal=total) }}" class="btn btn-success my-4"><i class="bi bi-currency-dollar me-1"></i>Comprar</a>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6 mb-2">
                            <h4 class="badge bg-dark rounded-pill fs-3">Total: ${{ total }}</h4>
                          </div>
                    </div>
                </div>

                <ul class="list-group">
                    {% for producto in session['carrito'] %} 
                        <li class="list-group-item shadow">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{ url_for('static', filename='images/' ~ producto['imagen']) }}" alt="{{ producto['nombre'] }}" class="img-fluid d-block mx-auto" width="200">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-black">{{ producto['nombre'] }}</h5>
                                        <p class="card-text text-black">Precio: ${{ producto['precio'] }}</p>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="cantidad-{{ producto['id'] }}">Cantidad: {{ producto['cantidad'] }}</label>
                                            </div>
                                        </div>
                                        <a href="{{ url_for('carrito.eliminar_producto', producto_id=producto['id']) }}" class="btn btn-danger">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <div class="col-12 mt-3">
                    <a href="{{ url_for('carrito.vaciar_carrito') }}" class="btn btn-danger shadow"><i class="bi bi-trash-fill me-1"></i> Vaciar Carrito</a>
                </div>
            {% else %}
                <div class="alert alert-info shqdow" role="alert">
                    El carrito está vacío
                </div>
            {% endif %}
        </div>
    </div>
    </main>

    <footer class="footer mt-4">{% include 'footer.html' %}</footer>


{% endblock %}
