{% extends 'carritoBase.html' %}


{%block title%}Carrito de compras{%endblock%}

{% block content %}


    <header>
        {% include 'navbar.html' %}
    </header>
    <br><br>

    <body class="bg-dark text-white" style="background-color: black;">
        <div class="container mt-5">
            <h1 class="text-center mb-5">Carrito de Compras</h1>
    
            <!-- Agrega un elemento para mostrar el precio total -->
            <!--<p class="font-weight-bold" id="precio-total">Precio Total: $0.00</p>-->

        {% for producto in productos %} 
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename='img/' + item.imagen) }}" alt="{{ carrito[3] }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ item[1] }}</h5>
                            <p class="card-text">Precio: ${{ item[4] }}</p>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="cantidad-{{ item[0] }}">Cantidad</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    

        </div>    


        <footer class="footer2">{% include 'footer.html' %}</footer>


<body>



{% endblock content %}