{% include 'index.html' %}

{% block content %}

<div style="margin: 40px auto; max-width: 800px; border: 1px solid #ddd; padding: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div style="border-bottom: 1px solid #ddd; margin-bottom: 20px; padding-bottom: 10px;">
        <h2 style="text-align: center; margin: 0;">Factura</h2>
    </div>

    <!-- Información del emisor y del cliente -->
    <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
        <div style="flex: 1;">
            <h5 style="margin: 0;">Alarmas y polarizados K'liche</h5>
            <p style="margin: 2px 0;">Ipiales, Colombia</p>
        </div>
        <br><br>
        <div style="flex: 1; text-align: right;">
            <h5 style="margin: 0;">Factura a:</h5>
            <p style="margin: 2px 0;">{{ current_user.nombre }}<br>{{ current_user.direccion }}</p>
        </div>
    </div>

    <!-- Detalles de la factura -->
    <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="padding: 8px; border: 1px solid #ddd;">Producto</th>
                <th style="padding: 8px; border: 1px solid #ddd;">Cantidad</th>
                <th style="padding: 8px; border: 1px solid #ddd;">Precio Unitario</th>
                <th style="padding: 8px; border: 1px solid #ddd;">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in session['carrito'] %}
                <tr>
                    <td style="padding: 8px; border: 1px solid #ddd;">{{ producto['nombre'] }}</td>
                    <td style="padding: 8px; border: 1px solid #ddd;">{{ producto['cantidad'] }}</td>
                    <td style="padding: 8px; border: 1px solid #ddd;">{{ producto['precio'] }}</td>
                    <td style="padding: 8px; border: 1px solid #ddd;">{{ producto['precio'] * producto['cantidad'] }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3" style="text-align: right; padding: 8px; border: 1px solid #ddd; font-weight: bold;">Total:</td>
                <td style="padding: 8px; border: 1px solid #ddd;">{{ precio_total }}</td>
            </tr>
        </tbody>
    </table>

</div>

{% endblock %}
